/* Global Reset for All Unordered Lists */
.research-interests {
  max-width: var(--max-width-container);
  font-size: var(--font-size-medium);
  color: var(--text-color);
  line-height: var(--line-height-large);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.research-interests li {
  padding: var(--spacing-small) 0;
  border-bottom: 1px solid var(--border-color);
}

.research-interests li:last-child {
  border-bottom: none;
}


/* About Section Styling */
#about {
  padding: var(--spacing-large);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  /* border-radius: var(--border-radius-medium); */
}

.highlighted-name {
  font-size: 1.5em; /* Adjust as needed */
  font-weight: bold;
}


/* Social Icons Styling */
.contact-info {
  margin-top: var(--spacing-medium);
  text-align: center;
}

.contact-info p {
  font-size: var(--font-size-base);
  color: var(--muted-text-color);
}

.social-icons {
  display: flex;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-small);
}

.social-icons li {
  font-size: var(--font-size-xl);
  margin: var(--spacing-medium);
}

.social-icons li a {
  transition: color var(--transition-fast);
}

.social-icons li a:hover {
  color: var(--text-color);
}

/* Responsive Adjustments for Mobile Screens */
@media (max-width: 768px) {
  .social-icons {
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
  }

  .social-icons li {
    font-size: var(--font-size-large);
  }
}
