#contact {
  padding: var(--spacing-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--border-radius-medium);
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  box-shadow: var(--shadow-medium);
}

#contact h1 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: var(--spacing-medium);
}

#contact p {
  font-size: var(--font-size-medium);
  color: var(--muted-text-color);
  margin: var(--spacing-small) 0;
}

.contact-details {
  margin-top: var(--spacing-medium);
}

.contact-details p {
  font-size: var(--font-size-medium);
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.contact-icon {
  font-size: var(--font-size-large);
  color: var(--primary-color);
  margin-right: var(--spacing-xs);
}

/* Extra space after colon */
.contact-details strong {
  margin-right: var(--spacing-xs);
}

/* Style for email and LinkedIn text */
.contact-info {
  margin-left: var(--spacing-xs); /* Adds extra space between the colon and the email/link */
}

.click-to-copy {
  cursor: pointer;
  position: relative;
}

.copy-confirmation {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  margin-top: var(--spacing-xs);
  font-style: italic;
  animation: fadeInOut var(--transition-slow) ease;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline;
}

/* Extra space above thank you message */
.thank-you-message {
  margin-top: var(--spacing-xl); /* Increased space above the message */
  font-size: var(--font-size-medium);
  color: var(--text-color);
  font-style: italic;
}

@media (min-width: 768px) {
  #contact {
    min-height: 70vh;
    padding: var(--spacing-small);
  }
}
